

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

    .sidebar.close {
        width: 0;
    }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

 
    .sidebar.close~.home-section {
        left: 0;
        width: 100%;
    }
}
@media (max-width: 460px) {
    .sidebar.close~.home-section {
        left: 0 !important;
        width: 100% !important;
    }
    .sidebar.close {
        display: none;
    }

}
@media (max-width: 760px) {
    .sidebar.close~.home-section {
        left: 0 !important;
        width: 100% !important;
    }
    .sidebar.close {
        display: none;
    }

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #fff;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

/* .sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
} */

.sidebar .logo-details i {
    font-size: 30px;
    /* color: #000; */
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    /* color: #000; */
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 24px 0 144px 6px;
    overflow: auto;
    position: relative;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

/* .sidebar .nav-links li {
    
    list-style: none;
     transition: all 0.4s ease; 
   border-bottom: 1px solid #80808014; 
     padding: 2px 0px 2px 2px; 
} */

/* .sidebar .nav-links li:hover {
    background: #dedede4a;
} */

.sidebar .sub-menu li:hover{
    background: #80808000;
}
.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
/* .sidebar .nav-links li .iocn-link  img{
    width: 100%;
    height: 40px;
    object-fit: cover;
    display: flex;
justify-content: center;
} */

.sidebar.close .nav-links li .iocn-link {
    display: block;
    padding: 10px 0px 10px 0px;
}


  
 .sidebar .nav-links li i {
    height: 50px;
    min-width: 56px;
    text-align: center;
    line-height: 50px;
    /* color: #000; */
    font-size: 23px;
    cursor: pointer;
    transition: all 0.3s ease;
} 
/* .sidebar .nav-links li svg {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
} */
/* .sidebar .nav-links .hasSubMenu svg{
    height: 20px;
    min-width: 20px;
    text-align: center;
    
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
} */

/* .sidebar .nav-links .hasSubMenu {
    color:#000;
} */
/* .sidebar .nav-links .hasSub:hover{
color:#6366F1;

} */
.sidebar .nav-links .hasSub{
    padding:0 2px 0 2px;
}
/* .sidebar .nav-links .hasSubMenu:hover{
    background-color: #80808014;
} */
.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 16px;
    font-weight: 400;
    /* color: #000; */
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
     padding: 6px 16px 14px 52px; 
    /* margin-top: -10px; */
     /* background: #fff;  */
     box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
    display: none;
    height:100%;
    border:1px solid #80808014;
    width:260px;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    /* color: #000000a3; */
    font-size: 15px;
    padding: 8px 0;
    white-space: nowrap;

    transition: all 0.3s ease;
}

/* .sidebar .nav-links li .sub-menu a:hover {
    color:#6366F1;
} */

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 51%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

/* .home-section .home-content {
    height: 40px;
    display: flex;
    align-items: center;
} */

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    /* color: #11101d; */
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}



/*  */
.nav-links li .sub-menu {
    width: 0;
    height: 0;

    padding: 6px 16px 14px 52px;
    /* margin-top: -10px; */
    /* background: #fff;  */
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06), 0 1px 4px rgba(0, 0, 0, .08);
    display: none;
    height: 100%;
    /* border: 1px solid #80808014; */
    width: 260px;
    /* transition: all .5s ease; */
}

.nav-links li.dropdown.active .sub-menu {
    width: 260px;
    /* height: unset; */
    /* opacity: 1; */
    display: flex;
    flex-direction: column;
    /* padding: 6px 0px 0px 50px; */
    /* background-color: #fff;
    color: #2b8cec; */
}

.sidebar .nav-links .sub-menu li {
    padding: 6px 0px 6px 0px;
}

.sub-menu .link {
    /* color: var(--color_Light2); */
    font-size: 15px;
    padding: 5px 0;
    /* transition: all .5s ease; */
}

/* .sub-menu .link:hover {
    color: #fff;
} */

.sub-menu-title {
    display: none;
}
.nav-links li.active .bxs-chevron-down {
    transition: all .5s ease;
    transform: rotate(180deg);
}